Django>=4.2
djangorestframework
drf-spectacular
django-filter
django-extensions
django-ckeditor-5
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
google-auth
jdatetime
mptt
Pillow
bleach
openpyxl
tinycss2
celery[redis]>=5.5,<6
