Django>=5.2.8,<5.3
djangorestframework
drf-spectacular
django-filter
django-extensions
django-ckeditor-5
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
google-auth[requests]
jdatetime
django-mptt
Pillow
bleach
openpyxl
tinycss2
celery[redis]>=5.5,<6
